<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <header class="report-header no-page-break">
            <title class="report-header-title">

            </title>
            <div class="report-header-description">

            </div>
        </header>

        <section class="report-section no-page-break">
            <header class="report-section-header">

            </header>
            <table class="results">
                <tr class="results-table-header">
                    <th class="question-cell-width large-row-height"></th>
                    <th class="datum-cell-width large-row-height"></th>
                    <th class="bar-chart-cell-width large-row-height"></th>
                </tr>
                <tr class="results-table-row">
                    <td class="question-cell-width normal-row-height"></td>
                    <td class="datum-cell-width normal-row-height"></td>
                    <td class="bar-chart-cell-width normal-row-height">
                        <div class="bar-chart">
                            <div class="bar-chart-bar" style="width:30%;"></div>
                            <div class="bar-chart-symbol-1"></div>
                            <div class="bar-chart-symbol-2"></div>
                            <div class="bar-chart-division"></div>
                        </div>
                    </td>
                </tr>
            </table>
        </section>

    </body>
</html>